<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.needsport">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeedSport">
        <activity
            android:name=".MainLariStopwatchActivity"
            android:exported="false"
            android:parentActivityName=".Menu"/>
        <activity
            android:name=".MainLariTimerActivity"
            android:exported="false"
            android:parentActivityName=".Menu"/>
        <activity
            android:name=".MainLariDeskripsiActivity"
            android:exported="false"
            android:parentActivityName=".Menu"/>
        <activity
            android:name=".MainActivityPlankTimer"
            android:exported="false"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".MainActivityPlankStopwatch"
            android:exported="false"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".MainActivityPlankDeskripsi"
            android:exported="false"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".MainActivityLungeTimer"
            android:exported="false"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".MainActivityLungeStopwatch"
            android:exported="false"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".MainActivityLungeDeskripsi"
            android:exported="false"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".MainActivitySitupTimer"
            android:exported="false"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".MainActivitySitupStopwatch"
            android:exported="false"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".MainActivitySitupDeskripsi"
            android:exported="false"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".MainActivityPushupTimer"
            android:exported="false"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".MainActivityPushupStopwatch"
            android:exported="false"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".MainActivityPushupDeskripsi"
            android:exported="false"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".Menu"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CallCenter"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>